@font-face {
    font-family: 'CenturyGothic';
    src: url('https://s3.amazonaws.com/eecs493/blue-navigator/fonts/century_gothic_regular.TTF') format('truetype');
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('https://s3.amazonaws.com/eecs493/blue-navigator/fonts/century_gothic_bold.TTF') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'SegoeUI';
    src: url('https://s3.amazonaws.com/eecs493/blue-navigator/fonts/segoeui.ttf') format('truetype');
}

@font-face {
    font-family: 'SegoeUI';
    src: url('https://s3.amazonaws.com/eecs493/blue-navigator/fonts/segoeuib.ttf') format('truetype');
    font-weight: bold;
}
