.intro-page {
    background-color: white;
    height: 100vh;
    width: 90%;
}

.intro-page > div {
    display: inline-block;
}

.next-icon {
    position: absolute;
    left: 45.5vw;
    bottom: 2vh;
    width: 300%;
    color: #666666;
    opacity: 0.5;
}