.intro-box {
    box-shadow: 0 0 10px 5px #cdcdcd;
    position: absolute;
    top: 25vh;
    left: 5vw;
    right: 5vw;
    overflow: hidden;
    max-height: 60vh;
    overflow-y: auto;
    text-align: center;
}

.intro-box .left {
    position: relative;
    width: 40%;
    min-width: 300px;
    /*background-color: red;*/
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.intro-box .right {
    position: relative;
    width: 60%;
    min-width: 300px;
    /*background-color: blue;*/
    display: inline-block;
    vertical-align: middle;
}

.intro-box .image {
    position: relative;
    display: inline-block;
    width: auto;
    padding: 20px;
    overflow: hidden;
}

.intro-box .image > img {
    width: 80%;
}

.intro-box .building-title {
    font-family: 'CenturyGothic', serif;
    color: #666666;
    padding: 20px;
    margin: 0 20px 20px 20px;
    font-size: 30px;
    border: 0 solid #666666;
    border-top-width: 1px;
}

.intro-box .doc {
    font-family: 'SegoeUI', serif;
    padding: 20px;
    color: #666666;
    margin: 20px 20px 20px 0;
    border-left-width: 1px;
    overflow: hidden;
}