.card-shadow {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 4px 15px 0 rgba(0, 0, 0, 0.2);
}

.page-title {
    font-family: 'CenturyGothic', serif;
    position: absolute;
    top: 10vh;
    left: 5vw;
    right: 5vw;
    font-size: 5vh;
}
